.invoice-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  // justify-items: center;
  align-items: center;
  grid-gap: 10px;
  padding: 20px;
  border-bottom: 1px solid;
}